# .DS_Store file
.DS_Store
.vscode
.idea

# Data file
data/*.sqlite
Docs/*.docx
Ents/*.json
JSON/*.json
Papers

# History file
historyPSD.txt

# Frontend files
front-end/node_modules
front-end/.DS_Store
front-end/*.local
front-end/*.log
