# .DS_Store file
.DS_Store
.vscode
.idea/

# Ignore grobid
grobid-0.8.0/
.gradle/

# History file
historyPSD.txt

# Frontend files
frontend/node_modules
frontend/.vite-ssg-temp
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/*.log

# Backend files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Other files and folders to ignore
*.log
#*.csv
#*.json
#.env

# Ignore src
backend/src/
