# .DS_Store file
.DS_Store
.vscode
.idea/

# Data file
data/*.sqlite
Docs/*.docx
Ents/*.json
JSON/*.json
Papers

# History file
historyPSD.txt

# Frontend files
frontend/node_modules
frontend/.vite-ssg-temp
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/*.log
